/* minimal css reset */
html, body, div, h1, h2, h3, a, p, img, dl, dt, dd, ul, li {

	padding: 0px;
	margin: 0;
	border: 0;
	outline: 0;
	color: black;

}

body {
	background-size: 100% 100%;
	background-color: white;
	font-family: 'Publico Text Web';
	font-size: 1rem;
	font-weight: 400;
}

#right-column {
  width: 300px;
  height: 1000px;
  padding: 2rem;
}

#container {
  width: 100%;
  display: flex;
  margin: 0 auto;
}


#graph {
  height: 540px;
  width: 850px;
  position: relative;
  flex-grow: 1;
}

#conclusion{
    max-width: 640px;
    margin: 0 auto;
    margin-top: 70px;
  }

#graph svg{
  margin-top: 100px;
}

.logo {
    margin: 0 auto;
    padding-top: 10px;
    width: 10rem;
}

.logo-alt{
    margin: 0 auto;
    padding-top: 10px;
    width: 8rem;
}

.logo-alt svg {
    width: 100%;
}

.logo svg {
    width: 100%;
}

.headline-section{
    max-width: 640px;
    margin: 0 auto;
}

p.headline-big {text-align: center;font-family: 'Canela Web';margin: 0px;font-size: 84px;font-weight: 700;margin-top: 130px;display: none;}

p.headline-small {
    font-size: 16px;
    text-align: center;
    font-family: 'Canela Web';
    margin: 0px;
    font-size: 61px;
    font-weight: 600;
    margin-top: 90px;
    text-align: left;
}  

.section-title {
    font-family: 'Atlas Grotesk Web';
    font-weight: 100;
    font-size: 2rem;
    max-width: 40rem;
    margin: 0 auto;
    /* letter-spacing: -.02em; */
    /* -webkit-font-smoothing: antialiased; */
    color: rgba(0,0,0,.90);
    text-transform: capitalize;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.byline {
    font-size: .8rem;
    text-align: center;
    font-family: 'Atlas Grotesk Web';
    font-weight: 400;
    /* text-transform: uppercase; */
    letter-spacing: .05rem;
    margin-bottom: 40px;
}

.byline-section {
    margin-top: 90px;
}

#Wayne {
  margin: auto;
  display: block;
  margin-bottom: 70px;
  margin-top: 50px;
}


/*//////////////////////////////////////////*/
/*////////////// DROP-DOWNS ////////////////*/ 
/*//////////////////////////////////////////*/


#dropdowns {
  position: absolute;
  top: 22px;
  left: 20px;
  /*display: none*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid #dadada;
  padding-bottom: 13px;
  /* border-top: 1px solid #dadada; */
  /* padding-top: 11px; */
  margin-left: 30px;
  padding-right: 70px;
}

#dropdown-a {position: relative;width: auto;}

#dropdown-b{
  width: 200px;
}

#toggleouter {
  margin-right: 30px;
  z-index: 100;
}

#dropdown-c {
  display: inline-block;
  text-align: center;
}

.dd-title {
  color: #999999;
  top: 0px;
  font-family: 'Atlas Grotesk Web';
  font-weight: 300;
  font-size: .65em;
  letter-spacing: .25px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

#toggleouter .dd-title {
  text-align: center;
  width: 150px;
}

.dd-title.events{
  color: white;
  vertical-align: middle;
  line-height: 48px;
  font-size: .65rem;
  color: #7b7b7b;
  font-weight: 500;
  margin-right: 17px;
  /* text-decoration: underline; */
}


.dd select{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* padding: 0.5em 1em 0.5em 0; */
  font-family: 'Atlas Grotesk Web';
  font-size: 1rem;
  font-weight: 500;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
}

#dropdown-c.hiddendd {
  display: none;
}

.toggle.average {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-family: 'Atlas Grotesk Web';
  font-size: .75rem;
  color: #6f6f6f;
  background-color: white;
  border: 1px solid rgba(127, 125, 156, 0.54);
  width: 75px;
}

.toggle.year {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-family: 'Atlas Grotesk Web';
  font-size: .75rem;
  color: #7D93CA;
  background-color: white;
  border: 1px solid rgba(127, 125, 156, 0.54);
  width: 75px;
  cursor: pointer;
  cursor: hand;
}

.toggle.active{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px inset;
  border-color: rgba(14, 14, 14, 0.24);
  font-weight: 600;
  background-color: #EEE;
  color: #587ddc;
  cursor: pointer;
  cursor: hand;
}

.toggle:focus{
  outline: 0;
}

#counties,
#states,
#year {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
}


.select__arrow.long{
  position: absolute;
  top: 50%;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #cecece transparent transparent transparent;
  top: -14px;
  left: 58px;
}

#icons {
  height: 48px;
  position: absolute;
  bottom: 0;
  /* background-color: #7D93CA; */
  /*display: none;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 50px;
}

#icon-a,
#icon-b,
#icon-c,
#icon-d, 
#icon-e,
#icon-f,
#icon-g {
  height: 48px;
  /*margin: 0 48px 4px 0px;*/
  position: relative;
  width: 48px;
  margin-right: 20px;
}

#icon-a {
}

#icon-a svg,
#icon-b svg,
#icon-c svg,
#icon-d svg,
#icon-e svg,
#icon-f svg,
#icon-g svg {
  margin: -16px 0 0 -16px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
}


#icon-storms,
#icon-hurricane,
#icon-snow,
#icon-football,
#icon-baseball,
#icon-terrorism,
#icon-money {
  position: absolute;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  pointer-events: all;
  stroke: black;
}

#icon-a.current #icon-storms,
#icon-b.current #icon-hurricane,
#icon-c.current #icon-snow,
#icon-d.current #icon-football,
#icon-e.current #icon-baseball,
#icon-f.current #icon-terrorism,
#icon-g.current #icon-money {
  position: absolute;
  fill: none;
  stroke: white;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke: black;
}

#icon-a:hover,
#icon-b:hover,
#icon-c:hover,
#icon-d:hover,
#icon-e:hover,
#icon-f:hover,
#icon-g:hover  {
  background-color: #B2C1E3;
  cursor: pointer;
}

#icon-a.current,
#icon-b.current,
#icon-c.current,
#icon-d.current,
#icon-e.current,
#icon-f.current,
#icon-g.current{
  /*border-bottom: 4px solid #7D93CA;
  margin-bottom: 0;*/
  background-color: #B2C1E3;
  background: white;
}

#icons .current #icon-storms,
#icons .current #icon-sports,
#icons .current #icon-terrorism {
  fill: none;
  stroke: white;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke: black;
}

#icon-dropdown {
  width: 40%;
  height: 48px;
  top-margin: 100px;
}

#icon-dropdown2 {
  width: 40%;
  height: 48px;
}

#icon-dropdown select{
  position: absolute;
  left: 0;
  margin: 0 0 0 -18px;
}

#icon-dropdown2 select{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -18px 0 0 -18px;
}

.dd2 select{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  padding: 0.5em 3em 0.5em 0;
  margin: 0 0 0 20px;
  font-family: 'Publico Text Web';
  font-size: 1rem;
  font-weight: 600;
  color: #7D93CA;
  background-color: white;
  border: none;
}




/*//////////////////////////////////////////*/
/*////////////// LINE CHART ////////////////*/ 
/*//////////////////////////////////////////*/




.line {
  fill: none;
  stroke: #D9D9D9;
  stroke-width: 1px;
  /*opacity: 0.7;*/
}

.line2 {
  fill: none;
  stroke: #999999;
  stroke-width: 4px;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-dasharray: 10;
}

.selected {
  fill: none;
  stroke: #7D93CA;
  stroke-width: 4px;
}

.hovered {
  fill: none;
  stroke: #B2C1E3;
  stroke-width: 2px;
}

option[value="NaN"][disabled] {
  display: none;
}

.selected-event {
  fill: none;
  stroke: url(#linear-gradient);
  stroke-width: 4px;
}

.axis {
  font-family: 'Atlas Grotesk Web';
  font-weight: 300;
  font-size: .65em;
  color: #999999;
  text-transform: uppercase;
}

.axis.label{
  font-size: .75em;
  font-weight: 400;
  fill: black;
  text-transform: capitalize;
}

.axis path,
.axis line{
  fill: none;
  stroke-width: 1px;
  stroke: #000000;
  shape-rendering: crispEdges;
}

.axis text{
  fill: #000000;
  font-weight: 600;
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

: root {
  --annotation-color: #EF445B;
}

.annotation path {
  stroke: #EF445B;
  stroke-width: 4px;
  fill: none;
}



.annotation text {
  fill: #999999;
  font-family: 'Atlas Grotesk Web';
  font-weight: 100;
  font-size: 0.8em;
}

.annotation-note .annotation-note-title, text.title {
  font-size: 1rem;
  font-weight: 500;
  fill: #EF445B;
  font-family: 'Atlas Grotesk Web';
  text-shadow: -2px 0 rgba(253, 252, 255,0.77), 0 2px rgba(253, 252, 255,0.77), 2px 0 rgba(253, 252, 255,0.77), 0 -2px rgba(253, 252, 255,0.77);
}




.annotation-note-bg {
  fill: #FFFFFF;
}





/*//////////////////////////////////////////*/
/*//////////////// FONTS ///////////////////*/ 
/*//////////////////////////////////////////*/

@font-face {
  font-family: 'Canela Web';
  src: url('../Fonts/Canela-Bold-Web.eot');
  src: url('../Fonts/Canela-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/Canela-Bold-Web.woff2') format('woff2'),
       url('../Fonts/Canela-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

.Canela-Bold-Web {
  font-family: 'Canela Web';
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: url('fonts/Canela-Light-Web.eot');
  src: url('fonts/Canela-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/Canela-Light-Web.woff2') format('woff2'),
       url('fonts/Canela-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.Canela-Light-Web {
  font-family: 'Canela Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}



@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../Fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('../Fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2'),
       url('../Fonts/AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Medium-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../Fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('../Fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
       url('../Fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Regular-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../Fonts/AtlasGrotesk-Light-Web.eot');
  src: url('../Fonts/AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/AtlasGrotesk-Light-Web.woff2') format('woff2'),
       url('../Fonts/AtlasGrotesk-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Light-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Publico Text Web';
  src: url('../Fonts/PublicoText-Italic-Web.eot');
  src: url('../Fonts/PublicoText-Italic-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/PublicoText-Italic-Web.woff2') format('woff2'),
       url('../Fonts/PublicoText-Italic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

.PublicoText-Italic-Web {
  font-family: 'Publico Text Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Publico Text Web';
  src: url('../Fonts/PublicoText-Roman-Web.eot');
  src: url('../Fonts/PublicoText-Roman-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/PublicoText-Roman-Web.woff2') format('woff2'),
       url('../Fonts/PublicoText-Roman-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.PublicoText-Roman-Web {
  font-family: 'Publico Text Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}




.intro-prose,
.conclusion-prose {
    font-size: 1.12rem;
    color: black;
    font-weight: 100;
    line-height: 2;
    max-width: 36rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.intro-section {
    margin: 0 auto;
    background: #fcfcfc;
    margin-bottom: 50px;
    padding-bottom: 30px;
}



.right-column-prose {
    font-size: .92rem;
    margin-bottom: 1rem;
    line-height: 1.7;
}

.highlighted{
  transition: 500ms;
  color: #97a8d4;
  /* text-decoration: underline; */
}

.right-column-prose.note{
    font-size: .8rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}



.icons {
    opacity: .3;
    