/* minimal css reset */
html, body, div, h1, h2, h3, a, p, img, dl, dt, dd, ul, li {

	padding: 0px;
	margin: 0;
	border: 0;
	outline: 0;
	color: black;

}

body {
	background-size: 100% 100%;
	background-color: white;
	font-family: 'Publico Text Web';
	font-size: 1rem;
	font-weight: 400;
}

#right-column {
  width: 300px;
  height: 1000px;
  background: #fdfdfd;
  padding: 2rem;
}

#container {
  width: 100%;
  display: flex;
  margin: 0 auto;
}


#graph {
  height: 540px;
  width: 850px;
  position: relative;
  flex-grow: 1;
}

#conclusion{
    max-width: 640px;
    margin: 0 auto;
    margin-top: 70px;
  }

#graph svg{
  margin-top: 100px;
}

.logo {
    margin: 0 auto;
    padding-top: 10px;
    width: 10rem;
}

.logo-alt{
    margin: 0 auto;
    padding-top: 10px;
    width: 8rem;
}

.logo-alt svg {
    width: 100%;
}

.logo svg {
    width: 100%;
}

.headline-section{
    max-width: 640px;
    margin: 0 auto;
}

p.headline-big {

    text-align: center;
    font-family: 'Canela Web';
    margin: 0px;
    font-size: 84px;
    font-weight: 400;
    margin-top: 130px;

}

p.headline-small {
    font-size: 16px;
    text-align: center;
    font-family: 'Canela Web';
    margin: 0px;
    font-size: 29px;
    font-weight: 100;
    margin-top: 10px;
}  

.section-title {
    font-family: 'Atlas Grotesk Web';
    font-weight: 600;
    font-size: 1.0em;
    max-width: 40rem;
    margin: 0 auto;
    /* letter-spacing: -.02em; */
    /* -webkit-font-smoothing: antialiased; */
    color: rgba(0,0,0,.90);
    text-transform: uppercase;
}

.byline {
    font-size: .75rem;
    text-align: center;
    font-family: 'Atlas Grotesk Web';
    font-weight: 400;
    /* text-transform: uppercase; */
    letter-spacing: .05rem;
    margin-bottom: 40px;
}

.byline-section {
    margin-top: 90px;
}



/*//////////////////////////////////////////*/
/*////////////// DROP-DOWNS ////////////////*/ 
/*//////////////////////////////////////////*/


#dropdowns {
  width: 800px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 20px;
  /*display: none*/;
}

#dropdown-a {
  display: inline-block;
  width: 250px;
  height: 100px;
  margin-right: 10px;
}

#dropdown-b{
  display: inline-block;
  width: 200px;
  height: 100px;
  margin-right: 10px;
}

#toggleouter {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin-right: 10px;
  z-index: 100;
}

#dropdown-c {
  display: inline-block;
  width: 110px;
  height: 100px;
}

.dd-title {
  color: #999999;
  top: 0px;
  font-family: 'Atlas Grotesk Web';
  font-weight: 300;
  font-size: .65em;
  margin-left: 34px;
  letter-spacing: .25px;
  text-transform: uppercase;
}

#toggleouter .dd-title {
  margin-left: 32px;
  text-align: center;
  width: 150px;
}

.dd-title.events{
  margin: 0 25px 0 50px;
  color: white;
  vertical-align: middle;
  line-height: 48px;
  display: inline-block;
  position: absolute;
  font-size: .75em;
}


.dd select{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  padding: 0.5em 1em 0.5em 0;
  margin: 0 0 0 34px;
  font-family: 'Atlas Grotesk Web';
  font-size: 1.4rem;
  font-weight: 600;
  color: #7D93CA;
  background-color: white;
  border: none;
  cursor: pointer;
}

#dropdown-c.hiddendd {
  display: none;
}

.toggle.average {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-family: 'Atlas Grotesk Web';
  font-size: .75rem;
  color: #7D93CA;
  background-color: white;
  border: 1px solid rgba(127, 125, 156, 0.54);
  width: 75px;
  margin-left: 32px;
  margin-top: 14px;
}

.toggle.year {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
    font-family: 'Atlas Grotesk Web';
  font-size: .75rem;
  color: #7D93CA;
  background-color: white;
    border: 1px solid rgba(127, 125, 156, 0.54);
    width: 75px;
    margin-top: 14px;
}

.toggle.active{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px inset;
  border-color: rgb(173, 173, 173);
  font-weight: 600;
  background-color: #EEE;
  color: #666666;
}

.toggle:focus{
  outline: 0;
}

#counties,
#states,
#year {
  position: relative;
}


.select__arrow.long{
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  margin: -4px 0 0 10px;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7D93CA transparent transparent transparent;
}

#icons {
  width: 850px;
  height: 48px;
  position: absolute;
  bottom: 0;
  background-color: #7D93CA;
  /*display: none;*/
}

#icon-a,
#icon-b,
#icon-c,
#icon-d, 
#icon-e {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  /*margin: 0 48px 4px 0px;*/
  margin-right: 30px;
}

#icon-a {
  margin-left: 150px;
}

#icon-a svg,
#icon-b svg,
#icon-c svg,
#icon-d svg,
#icon-e svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  pointer-events: none;
}


#icon-storms,
#icon-hurricane,
#icon-snow,
#icon-football,
#icon-baseball {
  position: absolute;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  pointer-events: all;
}

#icon-a:hover #icon-storms,
#icon-b:hover #icon-hurricane,
#icon-c:hover #icon-snow,
#icon-d:hover #icon-football,
#icon-e:hover #icon-baseball {
  position: absolute;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-linecap: round;
}

#icon-a:hover,
#icon-b:hover,
#icon-c:hover,
#icon-d:hover,
#icon-e:hover  {
  background-color: #B2C1E3;
  cursor: pointer;
}

#icon-a.current,
#icon-b.current,
#icon-c.current,
#icon-d.current,
#icon-e.current {
  /*border-bottom: 4px solid #7D93CA;
  margin-bottom: 0;*/
  background-color: #B2C1E3;
}

#icons .current #icon-storms,
#icons .current #icon-sports,
#icons .current #icon-terrorism {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#icon-a .current{

}

#icon-dropdown {
  width: 40%;
  height: 48px;
  top-margin: 100px;
}

#icon-dropdown2 {
  width: 40%;
  height: 48px;
}

#icon-dropdown select{
  position: absolute;
  left: 0;
  margin: 0 0 0 -18px;
}

#icon-dropdown2 select{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -18px 0 0 -18px;
}

.dd2 select{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  padding: 0.5em 3em 0.5em 0;
  margin: 0 0 0 20px;
  font-family: 'Publico Text Web';
  font-size: 1rem;
  font-weight: 600;
  color: #7D93CA;
  background-color: white;
  border: none;
}




/*//////////////////////////////////////////*/
/*////////////// LINE CHART ////////////////*/ 
/*//////////////////////////////////////////*/




.line {
  fill: none;
  stroke: #D9D9D9;
  stroke-width: 1px;
  /*opacity: 0.7;*/
}

.line2 {
  fill: none;
  stroke: #CC6699;
  stroke-width: 2px;
  stroke-miterlimit: 10;
  stroke-linecap: round;
}

.selected {
  fill: none;
  stroke: #7D93CA;
  stroke-width: 4px;
}

option[value="NaN"][disabled] {
  display: none;
}

.selected-event {
  fill: none;
  stroke: url(#linear-gradient);
  stroke-width: 4px;
}

.axis {
  font-family: 'Atlas Grotesk Web';
  font-weight: 300;
  font-size: .65em;
  color: #999999;
  text-transform: uppercase;
}

.axis.label{
  font-size: .75em;
  font-weight: 400;
  fill: #999999;
}

.axis path,
.axis line{
  fill: none;
  stroke-width: 1.5px;
  stroke: #999999;
  shape-rendering: crispEdges;
}

.axis text{
  fill: #999999;
}

.hidden {
  opacity: 0;
}

: root {
  --annotation-color: #EF445B;
}

.annotation path {
  stroke: #EF445B;
  stroke-width: 4px;
  fill: none;
}



.annotation text {
  fill: #999999;
  font-family: 'Atlas Grotesk Web';
  font-weight: 100;
  font-size: 0.8em;
}

.annotation-note .annotation-note-title, text.title {
  font-size: 1.2rem;
  font-weight: 700;
  fill: #EF445B;
  font-family: 'Canela Web';
}




.annotation-note-bg {
  fill: #FFFFFF;
}





/*//////////////////////////////////////////*/
/*//////////////// FONTS ///////////////////*/ 
/*//////////////////////////////////////////*/

@font-face {
  font-family: 'Canela Web';
  src: url('../Fonts/Canela-Bold-Web.eot');
  src: url('../Fonts/Canela-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/Canela-Bold-Web.woff2') format('woff2'),
       url('../Fonts/Canela-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

.Canela-Bold-Web {
  font-family: 'Canela Web';
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: url('fonts/Canela-Light-Web.eot');
  src: url('fonts/Canela-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/Canela-Light-Web.woff2') format('woff2'),
       url('fonts/Canela-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.Canela-Light-Web {
  font-family: 'Canela Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}



@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../Fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('../Fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2'),
       url('../Fonts/AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Medium-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../Fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('../Fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
       url('../Fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Regular-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../Fonts/AtlasGrotesk-Light-Web.eot');
  src: url('../Fonts/AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/AtlasGrotesk-Light-Web.woff2') format('woff2'),
       url('../Fonts/AtlasGrotesk-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Light-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Publico Text Web';
  src: url('../Fonts/PublicoText-Italic-Web.eot');
  src: url('../Fonts/PublicoText-Italic-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/PublicoText-Italic-Web.woff2') format('woff2'),
       url('../Fonts/PublicoText-Italic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

.PublicoText-Italic-Web {
  font-family: 'Publico Text Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Publico Text Web';
  src: url('../Fonts/PublicoText-Roman-Web.eot');
  src: url('../Fonts/PublicoText-Roman-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/PublicoText-Roman-Web.woff2') format('woff2'),
       url('../Fonts/PublicoText-Roman-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.PublicoText-Roman-Web {
  font-family: 'Publico Text Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}




.intro-prose,
.conclusion-prose {
    font-size: 1rem;
    color: black;
    font-weight: 100;
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

.intro-section {
    max-width: 640px;
    margin: 0 auto;
    margin-top: 70px;
}



.right-column-prose {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.7;
}

.right-column-prose.note{
    font-size: .65rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}


