/* minimal css reset */
html, body, div, h1, h2, h3, a, p, img, dl, dt, dd, ul, li {

	padding: 0px;
	margin: 0;
	border: 0;
	outline: 0;
	color: black;

}

body {
	background-size: 100% 100%;

	background-color: white;
	font-family: 'Publico Text Web';
	font-size: 1rem;
	font-weight: 400;
}

#right-column {
  width: 300px;
  height: 1000px;
  background: #fdfdfd;
  padding: 2rem;
}

#container {
  width: 100%;
  display: flex;
  margin: 0 auto;
}


#graph {
  height: 800px;
  width: 850px;
  position: relative;
  flex-grow: 1;
}

#graph svg{
  margin-top: 100px;
}



/*//////////////////////////////////////////*/
/*////////////// DROP-DOWNS ////////////////*/ 
/*//////////////////////////////////////////*/


#dropdowns {
  width: 600px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 20px;
  /*display: none*/;
}

#dropdown-a, #dropdown-b {
  display: inline-block;
  width: 215px;
  height: 100px;
  margin-right: 10px;
}

#dropdown-c {
  display: inline-block;
  width: 110px;
  height: 100px;
}

.dd-title {
  color: #999999;
  top: 0px;
  text-decoration: underline;
  font-family: 'Atlas Grotesk Web';
  font-weight: 100;
  font-size: 1em;
}

.dd-title.events{
  text-align: center;
}


.dd select{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  padding: 0.5em 3em 0.5em 0;
  margin: 0 0 0 20px;
  font-family: 'Publico Text Web';
  font-size: 1.4rem;
  font-weight: 600;
  color: #7D93CA;
  background-color: #F2F2F9;
  border: none;
}


#counties {
  position: relative;
}

#year {
  position: relative;
}

.select__arrow.short{
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  margin: -4px 0 0 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7D93CA transparent transparent transparent;
}

.select__arrow.long{
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  margin: -4px 0 0 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7D93CA transparent transparent transparent;
}

#icons {
  width: 170px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 20px;
  /*display: none;*/
}

#icon-a,
#icon-b,
#icon-c {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  /*margin: 0 48px 4px 0px;*/
}

#icon-a svg,
#icon-b svg,
#icon-c svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -18px 0 0 -18px;
}

#icon-c {
  margin-right: 0;
}

#icon-storms,
#icon-sports,
#icon-terrorism {
  position: absolute;
  fill: none;
  stroke: #676767;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke-linecap: round;
}

#icon-storms:hover,
#icon-sports:hover,
#icon-terrorism:hover {
  position: absolute;
  fill: none;
  stroke: #B2C1E3;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  pointer-events:all;
}

#icon-a.current,
#icon-b.current,
#icon-c.current {
  border-bottom: 4px solid #7D93CA;
  margin-bottom: 0;
}

#icons .current #icon-storms,
#icons .current #icon-sports,
#icons .current #icon-terrorism {
  fill: none;
  stroke: #7D93CA;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#icon-dropdown {
  width: 40%;
  height: 48px;
  top-margin: 100px;
}

#icon-dropdown2 {
  width: 40%;
  height: 48px;
}

#icon-dropdown select{
  position: absolute;
  left: 0;
  margin: 0 0 0 -18px;
}

#icon-dropdown2 select{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -18px 0 0 -18px;
}

.dd2 select{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  padding: 0.5em 3em 0.5em 0;
  margin: 0 0 0 20px;
  font-family: 'Publico Text Web';
  font-size: 1rem;
  font-weight: 600;
  color: #7D93CA;
  background-color: #F2F2F9;
  border: none;
}




/*//////////////////////////////////////////*/
/*////////////// LINE CHART ////////////////*/ 
/*//////////////////////////////////////////*/




.line {
  fill: none;
  stroke: #D9D9D9;
  stroke-width: 1px;
  opacity: 0.7;
  clip-path: url(#clip);
}

.line2 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3px;
}

.selected {
  fill: none;
  stroke: #7D93CA;
  stroke-width: 4px;
  opacity: 1;
  clip-path: url(#clip);
  transition: 0.5s;
}

.selected-event {
  fill: none;
  stroke: url(#linear-gradient);
  stroke-width: 4px;
}

.axis {
  font-family: 'Publico Text Web';
  font-size: 0.7rem;
  font-weight: 300;
  color: #999999;
}

.axis path,
.axis line{
  fill: none;
  stroke-width: 1.5px;
  stroke: #999999;
  shape-rendering: crispEdges;
}

.axis text{
  fill: #999999;
}

.hidden {
  opacity: 0;
}



/*//////////////////////////////////////////*/
/*//////////////// FONTS ///////////////////*/ 
/*//////////////////////////////////////////*/

@font-face {
  font-family: 'Canela Web';
  src: url('../Fonts/Canela-Bold-Web.eot');
  src: url('../Fonts/Canela-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/Canela-Bold-Web.woff2') format('woff2'),
       url('../Fonts/Canela-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

.Canela-Bold-Web {
  font-family: 'Canela Web';
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../Fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('../Fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2'),
       url('../Fonts/AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Medium-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../Fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('../Fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
       url('../Fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Regular-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../Fonts/AtlasGrotesk-Light-Web.eot');
  src: url('../Fonts/AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/AtlasGrotesk-Light-Web.woff2') format('woff2'),
       url('../Fonts/AtlasGrotesk-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Light-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Publico Text Web';
  src: url('../Fonts/PublicoText-Italic-Web.eot');
  src: url('../Fonts/PublicoText-Italic-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/PublicoText-Italic-Web.woff2') format('woff2'),
       url('../Fonts/PublicoText-Italic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

.PublicoText-Italic-Web {
  font-family: 'Publico Text Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Publico Text Web';
  src: url('../Fonts/PublicoText-Roman-Web.eot');
  src: url('../Fonts/PublicoText-Roman-Web.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/PublicoText-Roman-Web.woff2') format('woff2'),
       url('../Fonts/PublicoText-Roman-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.PublicoText-Roman-Web {
  font-family: 'Publico Text Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}




.intro-prose {
    font-size: .95rem;
    color: black;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.intro-section {
    max-width: 640px;
    margin: 0 auto;
    margin-top: 70px;
}

.right-column-prose {
    font-size: .9rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

